 .header {
    background-color: rgb(88, 92, 102, 0.6);
 }
 
 .header__logo {
    &:hover:not(.focus-visible) {
        opacity: 0.8;
        transition: 0.1s;
      }
    
      &:active:not(.focus-visible) {
        opacity: 0.6;
        transition: 0.1s;
      }
    
      &:focus-within {
        opacity: 0.8;
        transition: 0.1s;
      }

    a {
        &:focus-within {
            outline: none;
          }
          
    }
 }

.catalog {
    background: rgb(250, 252, 255);
}

.catalog__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 150px 30px;
    padding-bottom: 80px;
    animation: animation 1s;

    @media (max-width: 767px) {
        padding: 60px 20px;
    }
}

.catalog__title {
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 1.3em;
    color: rgb(177, 137, 48);
    text-align: center;
    line-height: 150%;
    animation: block-about  1s;

    @media (max-width: 767px) {
        font-size: 40px;
        margin-bottom: 0.3em;
      }
}

.catalog__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    @media (max-width: 767px) {
        row-gap: 50px;
    }
}

/* .catalog__item {
    transition: 0.4s;
    opacity: 0;
} */


.catalog__subtitle {
    color: rgb(88, 92, 102);
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 1.3em;
}

.card {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1170px;
    margin: 0 auto;
    column-gap: 30px;
    row-gap: 80px;

    @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }

    @media (max-width: 550px) {
        grid-template-columns: repeat(1, 1fr);
        max-width: auto;
    }
}

.card__item {
    display: flex;
    flex-direction: column;
    min-height: 653px;
    align-items: center;
    transition: transform 0.3s;

    &:nth-child(3n+1) {
        animation: left 0.6s 1;
        transition: transform 0.3s linear;
      }
    
      &:not(:last-child):nth-child(3n+3) {
        animation: right 0.6s 1;
        transition: transform 0.3s linear;
      }

    @media (max-width: 1000px) {
        min-height: 400px;
        &:nth-child(n + 3) {
            display: none;
        }

        &:nth-child(1n+2) {
            animation: right 0.6s 1;
            transition: transform 0.3s linear;
          }

        &:last-child {
            display: flex;
        }
    }

    &:hover:not(.focus-visible) {
        transform: scale(1.1);
        transition: transform 0.3s;

        @media (max-width: 767px) {
            transform: scale(1.04);
        }
    }
}

.card__image {
    transition: transform 0.3s;
    height: 360px;
    min-height: auto;

    @media (max-width: 767px) {
        max-height: 270px;
    }
}

.card__image-hovered {
    transform: none;
}


.card__content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;

    @media (max-width: 767px) {
        padding: 15px;
    }
}

.card__title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;

    @media (max-width: 767px) {
        margin-bottom: 10px;
    }
}

.card__price {
    font-weight: 500;
    font-size: 24px;
    color: rgb(177, 137, 48);
    margin: 15px 0;

    @media (max-width: 767px) {
        margin-bottom: 10px;
    }
}

.card__sale {
    font-size: 30px;
    margin-right: 10px;
    text-decoration: line-through;
}


.card__description {
    font-weight: 300;
    font-size: 17px;
    color: #9dabaf;
    margin: 15px 0;

    @media (max-width: 767px) {
        font-size: 15px;
    }
}

.card__button {
    padding: 0 40px;
    max-width: 160px;
}

.card__item-link {
    background-color: transparent;
    position: relative;
    background: linear-gradient(rgba(17, 22, 37, 0.4), rgba(17, 22, 37, 0.4)), url("../images/catalog-bg.jpg") center center / cover no-repeat;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }

    @media (max-width: 1000px) {
        background: none;
        grid-column: 1/3;
        min-height: auto;
    }

    @media (max-width: 550px) {
        background: none;
        grid-column: 1
    }
}

.card__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 2;

    button {
        font-size: 21px;
        padding: 0 46px;

        @media (max-width: 767px) {
            font-size: 15px;
            padding: 0 60px;
        }
    }

    &:hover:not(.focus-visible)  .button {
        background-color: rgb(129, 100, 37);
        transition: 0.2s;
        transform: scale(1.1);
    }
    
    &:active:not(.focus-visible) .button {
        background-color: rgb(89, 69, 25);
        transition: 0.1s;
    }
    
    &:focus-visible .button {
        background-color: rgb(129, 100, 37);
        transition: 0.2s;
        outline: none;
        transform: scale(1.1);
    }

    &:focus-visible {
        outline: none;
    }
}


.catalog-subtheme {
    @media (max-width: 767px) {
        & .card__item:nth-child(n + 3) {
            display: flex;
        }
    }

    h1 {
        font-size: 60px;
        margin-bottom: 1.3em;

        @media (max-width: 767px) {
            font-size: 40px;
        }

        @media (max-width: 405px) {
            margin-bottom: 15px;
        }
    }

    & .card__image-hovered {
        transform: scale(1.4);
        transition: transform 0.3s;
        z-index: 5;
    
        @media (max-width: 767px) {
            transform: scale(1.3);
        }
    }
    
}

.catalog__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;

    @media (max-width: 405px) {
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1.3em;
    }
}
