@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Montserrat-Light.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Montserrat-Medium.woff') format('woff');
}

@keyframes animation {
  0% {
    opacity: 0;
    padding-bottom: 0;
  }
  100% {
    opacity: 1;
    margin: 0 auto;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes block-popular {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes block-services {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

body {
    font-family: "Montserrat", "Arial", serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #585c66;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 320px;
    width: 100%;
}
  
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.dop-style {
  padding: 150px 80px;
  padding-bottom: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;

  h1 {
    margin-bottom: 80px;
    line-height: 150%;
  }

  h2 {
    margin-bottom: 40px;
    line-height: 150%;
  }

  p {
    max-width: 1000px;
    margin: 0 auto;
    line-height: 150%;
  }

  div {
    margin-bottom: 50px;
  }
}

.not-scroll {
  overflow: hidden;
}

.header-scroll {
  z-index: 2;
  background-color: rgb(34, 34, 34, 0.8);
  transition: 0.2s;
}

.header {
  position: fixed;
  width: 100%;
  transition: 0.2s;
  z-index: 2;
}

.header__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 8px 20px;
}

.header__logo {
  img {
    border-radius: 50%;
    display: block;

    @media (max-width: 767px) {
      width: 50px;
      min-height: auto;
      height: 50px;
    }
  }

  a {
    padding: 0;
  }
  
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  @media (max-width: 767px) {
    display: none;
  }
}


.header__toggle {
  display: none;

  @media (max-width: 767px) {
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;

    &:hover:not(.focus-visible) {
      opacity: 0.6;
      transition: 0.1s;
    }
  
    &:active:not(.focus-visible) {
      opacity: 0.4;
      transition: 0.1s;
    }
  }
}

.header__toggle-closed {
  @media (max-width: 767px) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 2px;
      transition: 0.1s;
      background-color: #ffffff;
      box-shadow: 0 12px 0 0 #ffffff, 0 -12px 0 0 #ffffff;
      top: 50%;
      left: 0;
    }

    & + .header__nav {
      opacity: 0;
      margin-left: inherit;
    }
  }
}

.header__toggle-opened {
  @media (max-width: 767px) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: #ffffff;
      top: 50%;
      left: 0;
      transition: 0.1s;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  & + .header__nav {
    display: contents;
  }
}

.header__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  margin: 0;
  transition: 0.2s;

  @media (max-width: 767px) {
    position: absolute;
    flex-direction: column;
    align-items: start;
    max-width: 100%;
    left: 0;
    top: 0;
    background-color: #222222;
    width: 100%;
    transition: 0.2s;
    padding: 50px;
    padding-top: 100px;
    gap: 20px;
    box-sizing: border-box;
    z-index: -1;
  }
}

.header__link {
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 300;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover:not(.focus-visible) {
    color:rgb(255, 255, 255, 0.6);
    transition: 0.1s;
  }

  &:active:not(.focus-visible) {
    color:rgb(255, 255, 255, 0.4);
    transition: 0.1s;
  }

  &:focus-visible {
    color:rgb(255, 255, 255, 0.6);
    transition: 0.1s;
    outline: none;
  }
}

.hero {
  background: linear-gradient(rgba(17, 22, 37, 0.6), rgba(17, 22, 37, 0.6)), url("../images/hero.jpg") center center / cover no-repeat;
}

.hero__wrapper {
  max-width: 1200px;
  box-sizing: border-box;
  padding-top: 99px;
  padding-bottom: 80px;
  animation: animation 0.5s;
  margin: 0 auto;
}


.hero__title {
  font-weight: 300;
  font-size: 96px;
  margin-bottom: 0.3em;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 150%;

  @media (max-width: 767px) {
    font-size: 55px;
    margin-bottom: 0.3em;
  }
}

.hero__subtitle {
  color: rgb(204, 181, 95);
  text-align: center;
  font-weight: 400;
  line-height: 150%;
  padding: 0 20px;
  padding-top: 10px;
  font-size: 42px;
  margin-bottom: 1.3em;

  @media (max-width: 767px) {
    font-size: 24px;
    margin-top: 0;
    padding-top: 0;
  }
}

.hero__container {
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 767px) {
    justify-content: center;
  }
}

.button {
  font-family: "Montserrat", sans-serif;
  border-radius: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(204, 181, 95);
  text-decoration: none;
  border: none;;
  max-width: 300px;
  padding: 0px 50px;
  box-sizing: border-box;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  margin: 10px;

  &:hover:not(.focus-visible) {
    background-color: rgb(177, 137, 48);
    transition: 0.2s;
  }

  &:active:not(.focus-visible) {
    background-color: rgb(129, 100, 37);
    transition: 0.1s;
  }

  &:focus-visible {
    background-color: rgb(177, 137, 48);
    transition: 0.2s;
    outline: none;
  }
}

.hero__button-contacts {
  background-color: transparent;
  border: 1px solid rgb(158, 160, 166);

  &:hover:not(.focus-visible) {
    background-color: rgb(158, 160, 166);
    transition: 0.2s;
  }

  &:active:not(.focus-visible) {
    background-color: rgb(119, 120, 122);
    transition: 0.1s;
  }

  &:focus-visible {
    background-color: rgb(158, 160, 166);
    transition: 0.2s;
    outline: none;
  }
}

.about {
  transition: 0.4s;
  opacity: 0;
}

.about__wrapper {
  max-width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 80px;

  @media (max-width: 767px) {
    padding: 60px 20px;
  }
}

.about__title {
  color: rgb(177, 137, 48);
  text-align: center;
  width: 100%;
  font-weight: 300;
  font-size: 42px;
  margin: 0;
  margin-bottom: 50px;

  @media (max-width: 767px) {
    font-size: 26px;
  }
}

.about__content {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.about__info {
  width: 55%;
  max-width: 550px;
  align-items: center;
  margin-left: 50px;

  @media (max-width: 767px) {
    margin-left: 0;
    width: 100%;
  }
}

.about__text {
  color: rgb(88, 92, 102);
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
}

.about__image {
  @media (max-width: 767px) {
    max-height: 400px;
    margin-bottom: 11.5em;
  }
}

.about__slogan {
  width: 100%;
  max-width: 200px;
  position: absolute;
  bottom: 70px;
  left: -70px;
  z-index: 1;
  background-color: rgb(177, 137, 48);
  padding: 30px;
  box-sizing: border-box;
  text-align: center;

  @media (max-width: 767px) {
    max-width: 350px;
    bottom: auto;
    top: 20.5em;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
}

.about__slogan-text {
  font-weight: 300;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
  margin-bottom: 0.3em;
}

.about__date {
  font-size: 14px;
  line-height: 1.4;
  color: rgb(255, 255, 255);
  margin: 10px 0px 0px;
  font-weight: 500;
  text-align: center;
}

.popular {
  background-color: rgb(250, 252, 255);
  transition: 0.4s;
  opacity: 0;
}

.popular__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 80px 30px;
  padding-bottom: 100px;

  @media (max-width: 767px) {
    padding: 60px 20px;
  }
}

.popular__container {
  display: flex;
  align-items: center;
  max-width: 860px;
  margin: 0 auto;
  margin-bottom: 4.3em;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 80px;
  row-gap: 30px;

  @media (max-width: 767px) {
    margin-bottom: 2.3em;
  }
}

.popular__title {
  color: rgb(177, 137, 48);
  text-align: left;
  width: auto;
  font-weight: 300;
  font-size: 42px;
  margin: 0;

  @media (max-width: 767px) {
    font-size: 26px;
  }
}

.popular__button {
  border-radius: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(204, 181, 95);
  text-decoration: none;
  border: none;;
  max-width: 300px;
  padding: 0px 50px;
  box-sizing: border-box;
  text-align: center;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: 17px;
  display: inline-block;
  margin: 10px;

  &:hover:not(.focus-visible) {
    background-color: rgb(177, 137, 48);
    transition: 0.2s;
  }

  &:active:not(.focus-visible) {
    background-color: rgb(129, 100, 37);
    transition: 0.1s;
  }

  &:focus-visible {
    background-color: rgb(177, 137, 48);
    transition: 0.2s;
    outline: none;
  }
}

.popular__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.popular__link {
  padding: 50px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: 0.3s;
    left: 0;
  }

  &:hover:not(.focus-visible)  {
    &::before {
      background-color: rgba(17, 22, 37, 0.4);
    }
  }

  &:active:not(.focus-visible) {
    transition: 0.1s;

    &::before {
      background-color: rgba(17, 22, 37, 0.6);
    }
  }

  &:focus-visible {
    outline: none;

    &::before {
      background-color: rgba(17, 22, 37, 0.4);
    }
  }
}

.popular__item {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 325px;
  display: flex;
  justify-content: center;
  text-align: center;

  &:hover:not(.focus-visible)  {
    transform: scale(1.1);
    transition: 0.5s;
  }

  &:focus-within {
    transform: scale(1.1);
    transition: 0.5s;
  }

  @media (max-width: 500px) {
    min-height: 218px;
  }
}

.popular__item-girls {
  background: linear-gradient(rgba(17, 22, 37, 0.2), rgba(17, 22, 37, 0.2)), url("../images/girl.jpg") center center / cover no-repeat;
}

.popular__item-boys {
  background: linear-gradient(rgba(17, 22, 37, 0.2), rgba(17, 22, 37, 0.2)), url("../images/boy.jpg") center center / cover no-repeat;
}


.popular__item-creativity {
  background: linear-gradient(rgba(17, 22, 37, 0.2), rgba(17, 22, 37, 0.2)), url("../images/creativity.jpg") center center / cover no-repeat;
}


.popular__item-sale {
  background: linear-gradient(rgba(17, 22, 37, 0.2), rgba(17, 22, 37, 0.2)), url("../images/sale.jpg") center center / cover no-repeat;
}


.popular__item-title {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 150%;
  z-index: 2;
}

.services {
  transition: 0.4s;
  opacity: 0;
  background-color: rgb(250, 252, 255);
}

.services__wrapper {
  max-width:900px;;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 80px 30px;
  animation: animation 1.5s 1;

  @media (max-width: 767px) {
    padding: 60px 20px;
  }
}

.services__title {
  color: rgb(177, 137, 48);
  text-align: center;
  font-weight: 300;
  font-size: 42px;
  margin: 0;
  margin-bottom: 0.8em;

  @media (max-width: 767px) {
    font-size: 26px;
  }
}

.services__list {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.services__item {
  position: relative;
  height: 100%;
  border: 1px solid rgba(158, 160, 166, 0.3);
  background-color: white;
  padding: 50px 20px 30px;
  box-sizing: border-box;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 235px;
  min-height: 342px;

  @media (max-width: 767px) {
    max-width: 300px;
    min-height: 300px;
    margin: 0 auto;
  }
}

.services__item-hovered {
  background-color: rgb(177, 137, 48);

  & .services__item-title,
  &  .services__item-text{
    color: #ffffff;
  }
}

.services__subtitle {
  color: rgb(88, 92, 102);
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 4.3em;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.services__item-title {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  margin-bottom: 0.3em;
  text-align: left;
  color: rgb(177, 137, 48);
}

.services__item-text {
  text-align: left;
  color: rgb(88, 92, 102);
  margin: 10px 0px 40px;
  line-height: 1.4;
  font-size: 14px;
}

.services__item-link {
  margin-top: auto;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: rgb(177, 137, 48);
  position: relative;
  width: 60%;
  transition: 0.2s;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    mask-image: url('/images/arr.svg');
    background-color: rgb(177, 137, 48);
    mask-repeat: no-repeat;
    right: 0;
  }

  &:hover:not(.focus-visible) {
    width: 65%;
    transition: 0.2s;
    color: #ffffff;
  }

  &:hover:not(.focus-visible)::before {
    background-color: #ffffff;
    transition: 0.1s;
  }

  &:active:not(.focus-visible) {
    color: rgb(255, 255, 255,0.4);
    transition: 0.1s;
  }

  &:active:not(.focus-visible)::before {
    background-color: rgb(255, 255, 255,0.4);
    transition: 0.1s;
  }

  &:focus-visible {
    width: 65%;
    transition: 0.2s;
    outline: none;
  }
}

.slogan {
  position: relative;
  transition: 0.4s;
  opacity: 0;
}

.slogan__wrapper {
  background-color: rgba(0, 0, 0, 0);
  background-position: 0% 0%, center center;
  background-repeat: repeat, no-repeat;
  background-image: linear-gradient(rgba(17, 22, 37, 0.69), rgba(17, 22, 37, 0.69)), url("/images/slogan.jpg");
  background-size: auto, cover;
  background-clip: border-box, border-box;
  background-attachment: fixed;
  padding: 80px 20px;
  display: flex;
  overflow: hidden;
}

.slogan__title {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 300;
  font-size: 42px;
  max-width: 950px;
  line-height: 150%;

  @media (max-width: 767px) {
    font-size: 26px;
  }
}

.reviews {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.9;
  }
}

.reviews__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 80px 30px;
  background-image: url('../images/reviews-logo.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 600px 600px;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.reviews__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  max-width: 1000px;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.slider {
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.controls {
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;

}

.control {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;

  &:hover:not(.focus-visible) {
    opacity: 0.8;
    transition: 0.1s;
  }

  &:active:not(.focus-visible) {
    opacity: 0.6;
    transition: 0.1s;
  }

  &:focus-visible {
    opacity: 0.8;
    transition: 0.1s;
    outline: none;
  }
}

.control-prev,
.control-next{
  mask-image: url("../images/arr.svg");
  mask-repeat: no-repeat;
  mask-size: 50px 50px;
  background-color: #b18930;
  mask-position: left;
}

.control-prev {
  transform: rotate(180deg);
}

.contacts {
  background-color: rgb(250, 252, 255);
  transition: 0.2s;
  opacity: 0;
}

.contacts__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 80px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;

  @media (max-width: 767px) {
    padding: 60px 20px;
    justify-content: center;
  }
}

.contacts__title {
  font-weight: 300;
  font-size: 32px;
  color: rgb(17, 22, 37);
  margin-bottom: 30px;
  text-align: left;
  line-height: 150%;
}

.contacts__text {
  text-align: left;
  color: rgb(88, 92, 102);
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 20px;
}

.contact-content__info {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: rgb(17, 22, 37);
  text-align: left;
}

.contact-content {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 50px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.contact-content__info {
  text-decoration: none;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.4;
  color: rgb(17, 22, 37);
  text-align: left;
  display: inline-block;
  width: 100%;

  &:hover:not(.focus-visible) {
    color:rgb(17, 22, 37, 0.6);
    transition: 0.1s;
  }

  &:active:not(.focus-visible) {
    color:rgb(17, 22, 37, 0.4);
    transition: 0.1s;
  }

  &:focus-visible {
    color:rgb(17, 22, 37, 0.6);
    transition: 0.1s;
    outline: none;
  }
}

.form {
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 45px 0px 25px;
  height: 50px;
  margin: 20px 0px 0px;
  font-size: 16px;
  appearance: none;
  border-radius: 0px;
  border: 1px solid  rgba(17, 22, 37, 0.3);
  color: rgb(17, 22, 37);

  &:hover:not(.focus-visible) {
    border: 1px solid  rgba(17, 22, 37, 0.6);
    transition: 0.1s;
  }

  &:active:not(.focus-visible) {
    border: 1px solid  rgba(17, 22, 37, 0.4);
    transition: 0.1s;
  }

  &:focus-visible {
    border: 1px solid  rgba(17, 22, 37, 0.6);
    transition: 0.1s;
    outline: none;
  }
}

.form__item-textarea {
  textarea {
    width: 100%;
    resize: none;
    padding: 25px;
    margin: 20px 0px 30px;
    color: rgb(17, 22, 37);
    font-size: 16px;
    box-sizing: border-box;
    appearance: none;
    max-height: 200px;
    border: 1px solid rgba(17, 22, 37, 0.3);
    height: 200px;
  }
}

.form__agreement {
  font-family: "Arial", sans-serif;
  font-size: 19px;
  line-height: 130%;
  color: #38535d;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid #38535d;
    border-radius: 4px;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("/images/check.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    left: 4px;
    top: 2px;
    display: none;
  }

  @media (max-width: 767px) {
    font-size: 14px;

    &::before,
    &::after {
      width: 20px;
      height: 20px;
    }

    &::after {
      background-size: 16px 16px;
    }
  }

  a {
    text-decoration: none;
    margin-left: 10px;
    color: rgb(177, 137, 48);
  }
}

.form__checkbox {
  &:hover:not(.focus-visible) + .form__agreement::before,
  &:hover:not(.focus-visible) + .form__agreement {
    border-color: rgb(56, 83, 93, 0.6);
    transition: 0.2s;
    color: rgb(56, 83, 93, 0.6);
  }

  &:active:not(.focus-visible) + .form__agreement::before,
  &:active:not(.focus-visible) + .form__agreement {
    opacity: 0.8;
    transition: 0.1s;
  }

  &:focus-visible + .form__agreement::before,
  &:focus-visible + .form__agreement { 
    border-color: rgb(56, 83, 93, 0.4);
    color: rgb(56, 83, 93, 0.6);
    transition: 0.2s;
    outline: none;
  }

  &:checked + .form__agreement::after {
    display: block;
  }
}

.form__button {
  border-radius: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(177, 137, 48);
  text-decoration: none;
  border: none;;
  max-width: 300px;
  padding: 0px 50px;
  box-sizing: border-box;
  text-align: center;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  margin: 10px;

  &:hover:not(.focus-visible) {
    background-color: rgb(129, 100, 37);
    transition: 0.2s;
  }

  &:active:not(.focus-visible) {
    background-color: rgb(89, 69, 25);
    transition: 0.1s;
  }

  &:focus-visible {
    background-color: rgb(129, 100, 37);
    transition: 0.2s;
    outline: none;
  }
}

.footer {
  background-color: rgb(17, 22, 37);
}

.footer__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  gap: 50px;

  & .contact-content {
    align-items: end;

    @media (max-width: 767px) {
      align-items: start;
    }
  }

  & .contact-content__info {
    color: rgb(255, 255, 255);

    &:hover:not(.focus-visible) {
      color:rgb(255, 255, 255, 0.6);
      transition: 0.1s;
    }
  
    &:active:not(.focus-visible) {
      color:rgb(255, 255, 255, 0.4);;
      transition: 0.1s;
    }
  
    &:focus-visible {
      color:rgb(255, 255, 255, 0.6);
      transition: 0.1s;
      outline: none;
    }
  }

  @media (max-width: 767px) {
    padding: 50px 20px;
  }
}

.footer__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  margin: 0;
  column-gap: 20px;
  padding: 0;
  margin-bottom: 1.3em;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    column-gap: 10px;
  }
}

.footer__list-contacts {
  margin-bottom: 0;
}

.footer__link {
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 300;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;

  &:hover:not(.focus-visible) {
    color:rgb(255, 255, 255, 0.6);
    transition: 0.1s;
  }

  &:active:not(.focus-visible) {
    color:rgb(255, 255, 255, 0.4);
    transition: 0.1s;
  }

  &:focus-visible {
    color:rgb(255, 255, 255, 0.6);
    transition: 0.1s;
    outline: none;
  }
}

.footer__privacy {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    width: 60%;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
    font-weight: 300;
    margin-top: auto;

    &:hover:not(.focus-visible) {
      color:rgb(255, 255, 255, 0.6);
      transition: 0.1s;
    }
  
    &:active:not(.focus-visible) {
      color:rgb(255, 255, 255, 0.4);;
      transition: 0.1s;
    }
  
    &:focus-visible {
      color:rgb(255, 255, 255, 0.6);
      transition: 0.1s;
      outline: none;
    }
  }
}

.element-appearance {
  opacity: 1;
  transition: all 0.2s;
  transform: translateY(0%);
}

.element-appearance .services__item{
  &:nth-child(1) {
    animation: left 1s 1;
    transition: transform 1s linear;
  }

  &:nth-child(3) {
    animation: right 1s 1;
    transition: transform 1s linear;
  }
}

.element-appearance .popular__wrapper {
  animation: block-popular 0.5s 1;
  transition: transform 1s linear;
}